[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124"
verify_ssl = true
name = "downloadpytorch"

[packages]
gymnasium = { version = "1.0.0a2", extras = ["box2d"] }
torch = {version = "*", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.12"
